body {
  margin: 0;
}

::-webkit-scrollbar {
  margin-right: 3px;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 2px;
  background-color: #e4e4e4;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat.otf");
}

header {
  font-family: "Montserrat";
  position: relative;
  background: #32a7b8;
  /*padding: 320px 0;*/
}

#see-more {
  position: absolute;
  left: 47%;
  bottom: 10%;
}

.navbar {
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /*background-color: rgba(51, 51, 51, 0.9);*/
}

#logo {
  height: 60px;
  float: left;
  margin-left: 40px;
  position: relative;
}

#logo img {
  height: 100%;
}

#logo span {
  display: inline-block;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 25%;
  left: 100%;
}

.navbar-nav {
  float: right;
  margin-right: 40px;
  margin-top: 25px;
  list-style-type: none;
}

.navbar-nav li {
  display: inline;
  margin-right: 10px;
}

.navbar-nav li a {
  color: white;
}

.navbar-nav li a:hover {
  color: #0a6875;
}

.clearfix {
  clear: both;
}

.banner {
  position: absolute;
  top: 20%;
  right: 41%;
}

.banner h5 {
  font-weight: 100;
  color: #fff;
  margin: 10px;
}

.banner-button {
  display: inline-block;
  border-radius: 3px;
  background: #0a6875;
  font-size: 20px;
  padding: 10px;
  color: white;
  position: relative;
  left: 26%;
}

.banner-button:hover {
  background: #0a5775;
}

#contribute {
  background: #f7f7f7;
  font-family: "Montserrat";
  text-align: center;
  padding: 30px 0 30px 0;
}

#contribute h2 {
  text-align: center;
  font-size: 32px;
  margin: 0;
  font-weight: 300;
  padding: 30px;
}

.contributor {
  display: inline-block;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#about {
  font-family: "Montserrat";
  position: relative;
  min-height: 430px;
}

#about h2 {
  text-align: center;
  font-size: 32px;
  margin: 0;
  font-weight: 300;
  padding: 30px;
}

.about-content {
  display: inline-block;
  position: absolute;
  left: 12%;
  top: 30%;
}

.about-content h3 {
  font-size: 30px;
}

.about-content p {
  line-height: 2;
}

.about-side {
  max-width: 38%;
  display: inline-block;
  position: absolute;
  right: 6%;
  top: 20%;
}

.about-side img {
  max-width: 100%;
  height: auto;
}

footer {
  padding: 40px 40px 20px;
  background: #191e2b;
  color: #fff;
  position: relative;
  min-height: 130px;
}

.follow-us {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-left: 50px;
}

.license {
  display: inline-block;
  position: absolute;
  left: 40%;
}

.license img {
  width: 100px;
}

.license .brand {
  display: inline-block;
  position: absolute;
  left: 100%;
  top: 40%;
}

.license h6 {
  display: inline;
  font-size: 20px;
  font-family: "Montserrat";
}

.contact-us {
  display: inline-block;
  position: absolute;
  right: 10%;
}

footer h5 {
  margin: 5px 0 10px;
  font-size: 20px;
  font-weight: 400;
}

.social-link i {
  color: #fff;
}

.contact-us span,
i {
  color: #fff;
}
